before_script:
  - "echo $JAVA_OPTS"
  - "export JAVA_OPTS='-Xmx512m -Xss1M -XX:+CMSClassUnloadingEnabled -XX:MaxPermSize=256M'"
language: scala
sudo: false
scala:
  - 2.11.12
  - 2.12.6
jdk:
  - oraclejdk8
matrix:
  include:
  - jdk: openjdk11
    scala: 2.12.7
